<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AaradhyaVashisht/IdeaProjects/AutomationCatalogue/src/main/java/individual/miscellaneous/testNGScripts/TestNGDemo.java">
        <classes>
            <class name="individual.miscellaneous.testNGScripts.TestNGDemo">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>